* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Kanit";
    src: url('fonts/Kanit/Kanit-Regular.eot');
    src: url('fonts/Kanit/Kanit-Regular.eot') format('embedded-opentype'),
         url('fonts/Kanit/Kanit-Regular.woff2') format('woff2'),
         url('fonts/Kanit/Kanit-Regular.woff') format('woff'),
         url('fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  }

 @font-face {
    font-family: "Lofi-Lifestyle";
    src: url('fonts/lofi_lifestyle/Lofi_Lifestyle.eot');
    src: url('fonts/lofi_lifestyle/Lofi_Lifestyle.eot') format('embedded-opentype'),
         url('fonts/lofi_lifestyle/Lofi_Lifestyle.woff2') format('woff2'),
         url('fonts/lofi_lifestyle/Lofi_Lifestyle.woff') format('woff'),
         url('fonts/lofi_lifestyle/Lofi_Lifestyle.ttf') format('truetype');
 }

body {
    font-family:"Kanit", sans-serif;
    color: rgb(208, 216, 244);
    background: #342454;
    margin: 0;
}


a {
    color: rgb(208, 216, 244);
}

h1 {
    background-color: #342454;
}

.header {
    display: flex;
    font-family:"Lofi-Lifestyle", sans-serif;
    background-color: #342454;
    padding: 16px;
    /* Need to make logo a link, check bottom border color, add to other pages */

}

.logo {
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
}

h3 {
    margin-left: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.index-card {
    background-color: #6a5ea9;
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    border-radius: 25px;
}

.description-card {
    background-color: #6a5ea9;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    border-radius: 25px;
}

.img-card {
    background-color: #6a5ea9;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
}

.recipe-card {
    background-color: #6a5ea9;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    border-radius: 25px;
}

.recipe-card li {
    padding: 5px;
}

.instructions-card {
    background-color: #6a5ea9;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    border-radius: 25px;
}

.instructions-card li {
    padding: 10px;
}