* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Kanit";
    src: url('fonts/Kanit/Kanit-Regular.eot');
    src: url('fonts/Kanit/Kanit-Regular.eot') format('embedded-opentype'),
         url('fonts/Kanit/Kanit-Regular.woff2') format('woff2'),
         url('fonts/Kanit/Kanit-Regular.woff') format('woff'),
         url('fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  }

body {
    font-family:"Kanit", sans-serif;
    background: #6a5ea9;
    color:#342454;
}


a {
    color: #342454;
}

h1 {
    background-color: #c5a3c3
}

h3 {
    margin-left: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.index-card {
    background-color: #78bcec;
    padding: 20px;
    text-align: center;
    margin: 20px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    border-radius: 25px;
}

.description-card {
    background-color: #78bcec;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    border-radius: 25px;
}

.img-card {
    background-color: #78bcec;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
}

.recipe-card {
    background-color: #78bcec;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    border-radius: 25px;
}

.recipe-card li {
    padding: 5px;
}

.instructions-card {
    background-color: #78bcec;
    padding: 20px;
    margin: 20px 10px 0px 10px;
    box-shadow: rgba(197, 163, 195) 0px 5px 15px;
    font-size: 25px;
    border-radius: 25px;
}

.instructions-card li {
    padding: 10px;
}