/* Color pallet - https://colorswall.com/palette/72892 */

body {
    background: #6a5ea9;
    color:#342454;
    font-family:'Times New Roman', Times, serif;
}


a {
    color: #342454;
    background: #78bcec; /* This color will be the box color for each section */
}

h1 {
    background-color: #c5a3c3
}
